# datetime module

Python has the datetime module to help deal with timestamps in your code. Time values are represented with the time class. Times have attributes for hour, minute, second, and microsecond. They can also include time zone information. The arguments to initialize a time instance are optional, but the default of 0 is unlikely to be what you want.

## time
Let's take a look at how we can extract time information from the datetime module. We can create a timestamp by specifying datetime.time(hour,minute,second,microsecond)

In [1]:
from datetime import time

In [3]:
time1 = time(10,55,21)

In [4]:
time1

datetime.time(10, 55, 21)

In [5]:
type(time1)

datetime.time

In [6]:
time1.hour

10

In [9]:
time1.minute

55

In [10]:
time1.second

21

Note: A time instance only holds values of time, and not a date associated with the time. 

We can also check the min and max values a time of day can have in the module:

In [13]:
print('Earliest  :', time.min)
print('Latest    :', time.max)
print('Resolution:', time.resolution)

Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

## Dates
datetime (as you might suspect) also allows us to work with date timestamps. Calendar date values are represented with the date class. Instances have attributes for year, month, and day. It is easy to create a date representing todayâ€™s date using the today() class method.

In [14]:
from datetime import date

In [15]:
today = date.today()

In [16]:
today

datetime.date(2023, 4, 14)

In [17]:
print(today)

2023-04-14

In [18]:
today.day

14

In [19]:
today.month

4

In [20]:
today.year

2023

In [21]:
today.ctime()

'Fri Apr 14 00:00:00 2023'

In [22]:
today.timetuple()

time.struct_time(tm_year=2023, tm_mon=4, tm_mday=14, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=104, tm_isdst=-1)

In [23]:
today.toordinal()

738624

As with time, the range of date values supported can be determined using the min and max attributes.

In [24]:
print('Earliest  :', date.min)
print('Latest    :', date.max)
print('Resolution:', date.resolution)

Earliest  : 0001-01-01
Latest    : 9999-12-31
Resolution: 1 day, 0:00:00

Another way to create new date instances uses the replace() method of an existing date. For example, you can change the year, leaving the day and month alone.

In [25]:
d1 = date(2015, 3, 11)
print('d1:', d1)

d2 = d1.replace(year=1990)
print('d2:', d2)

d1: 2015-03-11
d2: 1990-03-11

# Arithmetic
We can perform arithmetic on date objects to check for time differences. For example:

In [26]:
d1

datetime.date(2015, 3, 11)

In [27]:
d2

datetime.date(1990, 3, 11)

In [28]:
d1 - d2

datetime.timedelta(days=9131)

This gives us the difference in days between the two dates. You can use the timedelta method to specify various units of times (days, minutes, hours, etc.)

## DateTime

In [29]:
from datetime import datetime

In [33]:
dt1 = datetime(year= 2023, month= 12, day= 3)

In [34]:
dt1

datetime.datetime(2023, 12, 3, 0, 0)

In [35]:
dt1.hour

0

In [36]:
dt1.day

3

In [37]:
dt1.month

12

In [38]:
dt2= datetime(year= 2023, month= 12, day= 3, hour= 13, minute= 24, second= 12)

In [39]:
dt2

datetime.datetime(2023, 12, 3, 13, 24, 12)

In [40]:
dt2.second

12

In [41]:
dt2.microsecond

0

### Arithmatic

In [42]:
bday = datetime(1992, 2, 1, 15, 30, 30)

In [43]:
today = datetime.today()

In [44]:
today

datetime.datetime(2023, 4, 14, 18, 35, 23, 807446)

In [45]:
bday

datetime.datetime(1992, 2, 1, 15, 30, 30)

In [46]:
age = today - bday

In [47]:
age

datetime.timedelta(days=11395, seconds=11093, microseconds=807446)

In [48]:
age.days

11395

In [51]:
age.total_seconds()

984539093.807446