#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

In [4]:
# Check
lesser_of_two_evens(20,51)

51

In [5]:
# Check
lesser_of_two_evens(91,87)

91

In [6]:
# Check
lesser_of_two_evens(56,74)

56

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(text):
    words = text.split()
    if words[0][0] == words[1][0]:
        return True
    else:
        return False

In [8]:
# Check
animal_crackers('Levelheaded Llama')

True

In [9]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [10]:
# Check
animal_crackers('Shy sheep')

False

In [11]:
# Check
animal_crackers('mad monkey')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [12]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    else:
        if n1 + n2 == 20:
            return True
        else:
            return False

In [13]:
# Check
makes_twenty(20,10)

True

In [14]:
# Check
makes_twenty(2,3)

False

In [15]:
# Check
makes_twenty(20,3)

True

In [16]:
# Check
makes_twenty(19,1)

True

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [17]:
def old_macdonald(name):
    temp_list = list(name)
    temp_list[0] = temp_list[0].upper()
    temp_list[3] = temp_list[3].upper()
    return ''.join(temp_list)

In [18]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [19]:
# Check
old_macdonald('shailya')

'ShaIlya'

In [20]:
# Check
old_macdonald('apple')

'AppLe'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [22]:
def master_yoda(text):
    words = text.split()
    words = words[::-1]
    return " ".join(words)

In [23]:
# Check
master_yoda('I am home')

'home am I'

In [24]:
# Check
master_yoda('We are ready')

'ready are We'

In [25]:
# Check
master_yoda('I am crazy')

'crazy am I'

In [26]:
# Check
master_yoda('This is going to be a really long statement to check if the function really works or not')

'not or works really function the if check to statement long really a be to going is This'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [27]:
def almost_there(n):
    if abs (n - 100) <= 10 or abs (n - 200) <=10:
        return True
    else:
        return False

In [28]:
# Check
almost_there(104)

True

In [29]:
# Check
almost_there(150)

False

In [30]:
# Check
almost_there(209)

True

In [31]:
# Check
almost_there(190)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [32]:
def has_33(nums):
    for i in range(len(nums)-1):
        if (nums[i] == 3) and (nums[i+1] == 3):
            return True
    return False

In [33]:
# Check
has_33([1, 3, 3])

True

In [34]:
# Check
has_33([1, 3, 1, 3])

False

In [35]:
# Check
has_33([3, 1, 3])

False

In [36]:
# Check
has_33([3, 1, 1, 3, 2, 3, 3, 4])

True

In [37]:
# Check
has_33([3, 1, 1, 3, 2, 3, 4, 4, 3, 3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [38]:
def paper_doll(text):
    result = []
    for letter in text:
        result.append(letter*3)
    return "".join(result)

In [39]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [40]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [41]:
# Check
paper_doll('ABCDE')

'AAABBBCCCDDDEEE'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [47]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [48]:
# Check
blackjack(5,6,7)

18

In [49]:
# Check
blackjack(9,9,9)

'BUST'

In [50]:
# Check
blackjack(9,9,11)

19

In [51]:
# Check
blackjack(19,9,11)

'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [52]:
def summer_69(arr):
    result = 0
    counter = 0
    
    for num in arr:
        if num == 6:
            counter = 1
            continue
        
        elif counter == 1 and num == 9:
            counter = 0
            continue
        
        elif counter == 1:
            continue
            
        else:
            result = result + num
            
    return result

In [53]:
# Check
summer_69([1, 3, 5])

9

In [54]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [55]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [56]:
# Check
summer_69([9, 5, 3, 6, 9, 9])

26

In [57]:
# Check
summer_69([6 ,9, 6, 9])

0

In [58]:
# Check
summer_69([9, 6, 9, 6, 9, 5, 9, 6, 7, 9, 9, 9])

41

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [59]:
def spy_game(nums):
    seq = [0,0,7]
    
    for num in nums:
        if num == seq[0]:
            seq.pop(0)
        if len(seq) == 0:
            return True
    return len(seq) == 0

In [60]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [61]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [62]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [63]:
# Check
spy_game([2,3,4,5,6,7,0,0,7])

True

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [64]:
def count_primes(num):
    prime_list = []
    counter = 0
    for i in range(num + 1):
        
        if i == 0:
            continue
        
        elif i == 1:
            continue
            
        elif i == 2:
            prime_list.append(i)
            continue
        
        else:
            for j in range(2,i):
                if i % j == 0:
                    counter = 1
            
            if counter == 0:
                prime_list.append(i)
            else:
                counter = 0
            
    print(prime_list)
    return len(prime_list)

In [65]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [66]:
# Check
count_primes(2)

[2]

1

In [67]:
# Check
count_primes(3)

[2, 3]

2

In [68]:
# Check
count_primes(1)

[]

0

In [69]:
# Check
count_primes(1000)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

168